@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
$heading-text-color: #111827;
$secondary-text-color: #374151;
$main-line-height: 1.5;
$font-style: "Lato", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: $main-line-height;
  color: $secondary-text-color;
  font-family: $font-style;
  line-height: $main-line-height;
}
