@use "assets/base";
@use "sass:math";
@use "assets/breakpoints";

//this is like a function parameter and you can set a default value
@mixin theme($theme: DarkGrey) {
  background-color: $theme;
  color: #fff;
}

@mixin basic_flex() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%header {
  @include basic_flex;
  padding: 1.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1rem auto;
  width: 80%;
}

.first_header {
  @extend %header;
  @include theme($theme: black);
}

.new_header {
  @extend %header;
  @include theme($theme: #cdb4db);
}

%logo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 2rem;
  border-radius: 5px;
}

.logo-container {
  display: grid;
  grid-template-columns: 20px 20px;
  row-gap: 0.5rem;
  column-gap: 0.3rem;
  margin-right: 2rem;
}

.logo {
  @extend %logo;
  background-color: #cdb4db;
}

.logo_2 {
  @extend %logo;
  background-color: black;
}

nav {
  text-align: center;
  ul {
    list-style: none;
  }
  li {
    @include breakpoints.break(tablet) {
      margin-left: 1.5rem;
    }
    margin-left: 0.5rem;
    display: inline-block;
  }
  a {
    color: #fff;
    //color: base.$secondary-text-color;
    text-decoration: none;
  }
  a::after {
    content: "";
    background-image: url("https://github.com/Cajaye/learning-sass/blob/main/home.svg");
  }
}
